<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Function plotter</title>
</head>
<body>
    <form method="get">
        <label>
            f(x) =
            <input type="text" name="func_expr" value="{{ func_expr }}">
        </label>
        <br><br>

        <label>
            a =
            <input type="number" name="a" step="any" value="{{ a }}">
        </label>

        <label>
            b =
            <input type="number" name="b" step="any" value="{{ b }}">
        </label>

        <br><br>
        <button type="submit">Plot</button>
    </form>

    {% if plot_ready %}
    <img src="{{ url_for('static', filename='test.png') }}" alt="Plot" width="400">
    {% endif %}

</body>
</html>